.client_list{
    flex-wrap: wrap;
    justify-content: center;
}

.clientLogo {
    
    height: 92px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #afb1b8;
    display: flex;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--blue);
         }

         @media screen and (min-width:480px){
            width: 210px;
                       
          }
          
          @media screen and (min-width:768px){
            width: 226px;
                       
          }
          @media screen and (min-width:1200px){
            width: 170px;
                       
          }

    &__icon {
        fill: currentColor;
    }
  }
  
 