.header {
    border-bottom: solid 1px #ececec;
    width: 100%;
    
    &--flex {
        display: flex;
        
      }

    &__logo{

        @media screen and (min-width:768px){
        margin-right: 83px;
        margin-top: 26px;
        margin-bottom: 26px;}

        @media screen and (min-width:1200px){
        margin-right: 93px;
        margin-top: 24px;
        margin-bottom: 24px;}
    }
  }
.hamburger{
    width: 40px;
    height: 40px;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
      }

    &__button{
        background-color: transparent;
        padding:0
    
    }
}
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        justify-content: start;
      }
     
    &__list {
        gap: 60px;
        margin-left: 0px;

        @media screen and (max-width: 767px) {
            display: none;
          }
        @media screen and (min-width: 1200px) {
            gap:50px;
          }
    }
    &__item {
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: inherit; 
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -29px;
            left: 0px;
            height: 4px;
            background-color: var(--blue);
            border-radius: 2px;
            width: 0;
            transition-property: width;
        }
        
        &:focus:after,
        &:active:after {
            width: 100%;
        }
    
  }
}
.headerContact {
    gap: 10px;
    
    
    &__list{
        @media screen and (min-width: 768px) and (max-width: 1200px) {
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap:10px;
            
          }

          @media screen and (max-width: 767px) {
            display: none;
          }

    }  

    &__item {
        color: var(--grey-primary);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        display: flex;
        gap: 10px;
    }
    
    &__icon {
        fill: currentColor;
        transition-property: fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     
        &:hover,
        &:focus {
        fill: var(--blue);
        }
    
    }
}
  