.mobileMenu{

    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    padding: 15px 10px 48px 40px;
    z-index: 999;


    &__closeButton{
        background-color: transparent;
        position:absolute;
        top:10px;
        right: 15px;
        
    }

    &__closeIcon{
        display: flex;
        margin: auto;
        
    }
}